body {
  font-family: "Poppins", sans-serif;
  font-size: 1.3em;
}

.hero_section {
  height: 70vh;
  z-index: 10;
  position: relative;
}

.blob1 {
  height: 200px;
  transform: scale(4);
  position: absolute;
  left: 0;
  margin: 150px 0px 0px 100px;
  opacity: 0.5;
  z-index: 0;
}

.blob2 {
  height: 200px;
  transform: scale(10) rotate(0deg);
  position: absolute;
  right: 0;
  margin: -100px -200px 0px 0px;
  opacity: 0.3;
  z-index: 0;
}

.title {
  font-size: 5em;
  font-weight: 100;
  margin: 200px 0px 50px 0px;
  text-align: center;
}

.button_container {
  display: flex;
  justify-content: center;
}

.primary_button,
.secondary_button {
  padding: 20px;
  width: 400px;
  display: inline-block;
  font-size: 1.2em;
  margin: 0px 10px;
}

.about_project_section {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 50vh;
  margin-bottom: 200px;
  z-index: 10;
}

.about_section_title {
  margin: 0px 0px 100px 0px;
  font-size: 2em;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.card {
  width: 25rem;
  height: 30rem;
  font-size: 0.8em;
  text-align: center;
  margin: 0px 50px;
  transition: 1s;
}

.card-img-top {
  width: 20rem;
  height: auto;
}

.prediction_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 10;
  background-color: #a7f0ba;
  border-radius: 5px;
  padding: 50px;
  margin-bottom: 100px;
}

.prediction_subtitle {
  text-align: center;
}

#yourBtn {
  margin-top: 50px;
  width: 300px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  text-decoration: underline;
}

.model_form_button {
  height: 50px;
  background-color: #0d3b66;
  color: #ffffff;
}

.model_form_button:hover {
  background-color: #0b2a48;
  color: #ffffff;
}

.loading_gif_container {
  display: none;
}

#loader {
  height: auto;
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.result_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 100px;
}

.result {
  font-size: 4em;
  text-align: center;
}

#status {
  font-size: 1.2em;
  margin-bottom: 50px;
}

footer {
  background-color: #f4f4f4;
  padding: 80px 0px 80px 0px;
  /* height: 200px; */
  width: 100%;
  text-align: center;
}

/* responsive code */

@media only screen and (min-width: 250px) {
  body {
    overflow-x: hidden;
    width: 100vw;
    max-width: 100%;
  }

  .hero_section {
    height: 80vh;
    z-index: 10;
    position: relative;
    padding-top: 100px;
  }

  .title {
    font-size: 2.2em;
    margin: 200px 0px 50px 0px;
  }

  .blob1 {
    height: 200px;
    transform: scale(3);
    position: absolute;
    left: 0;
    margin: 0px 0px 0px -100px;
    opacity: 0.5;
    z-index: 0;
  }

  .blob2 {
    height: 200px;
    transform: scale(5) rotate(0deg);
    position: absolute;
    right: 0;
    margin: -300px -150px 0px 0px;
    opacity: 0.3;
    z-index: 0;
  }

  .button_container {
    display: block;
    justify-content: center;
  }

  .primary_button,
  .secondary_button {
    padding: 10px;
    width: 100%;
    display: inline-block;
    font-size: 1em;
    margin: 10px 0px;
  }

  .about_project_section {
    height: 100vh;
    margin-bottom: 700px;
    z-index: 10;
  }

  .about_section_title {
    margin: 0px 50px 100px 50px;
    font-size: 2em;
    text-align: center;
  }

  .card {
    margin: 0px 0px 30px 50px;
  }
}

@media only screen and (min-width: 600px) {
  .hero_section {
    height: 90vh;
    z-index: 10;
    position: relative;
    padding-top: 50px;
  }

  .title {
    font-size: 3em;
    margin: 200px 0px 50px 0px;
  }

  .primary_button,
  .secondary_button {
    padding: 10px;
    width: 100%;
    display: inline-block;
    font-size: 1em;
    margin: 10px 0px;
  }

  .about_project_section {
    height: 100vh;
    margin-bottom: 700px;
    z-index: 10;
  }

  .about_section_title {
    margin: 0px 50px 100px 50px;
    font-size: 2em;
    text-align: center;
  }

  .card {
    width: 25rem;
    height: 30rem;
    font-size: 0.8em;
    text-align: center;
    margin: 0px 0px 30px 100px;
    transition: 1s;
  }
}

@media only screen and (min-width: 650px) {
  .card {
    width: 25rem;
    height: 30rem;
    font-size: 0.8em;
    text-align: center;
    margin: 0px 0px 30px 110px;
    transition: 1s;
  }
}

@media only screen and (min-width: 750px) {
  .card {
    width: 25rem;
    height: 30rem;
    font-size: 0.8em;
    text-align: center;
    margin: 0px 0px 30px 180px;
    transition: 1s;
  }
}

@media only screen and (min-width: 800px) {
  .hero_section {
    height: 80vh;
  }

  .button_container {
    display: flex;
    justify-content: center;
  }

  .primary_button,
  .secondary_button {
    padding: 10px;
    width: 400px;
    display: inline-block;
    font-size: 1em;
    margin: 10px 30px;
  }

  .about_project_section {
    height: 100vh;
    margin-bottom: 700px;
    z-index: 10;
  }

  .card {
    width: 25rem;
    height: 30rem;
    font-size: 0.8em;
    text-align: center;
    margin: 0px 0px 30px 200px;
    transition: 1s;
  }
}

@media only screen and (min-width: 850px) {
  .card {
    width: 25rem;
    height: 30rem;
    font-size: 0.8em;
    text-align: center;
    margin: 0px 0px 30px 220px;
    transition: 1s;
  }
}

@media only screen and (min-width: 850px) {
  .card {
    width: 25rem;
    height: 30rem;
    font-size: 0.8em;
    text-align: center;
    margin: 0px 0px 30px 250px;
    transition: 1s;
  }
}

@media only screen and (min-width: 1000px) {
  .hero_section {
    height: 90vh;
  }

  .title {
    font-size: 3.2em;
    margin: 200px 0px 50px 0px;
  }

  .primary_button,
  .secondary_button {
    padding: 30px;
    width: 400px;
    display: inline-block;
    font-size: 1em;
    margin: 10px 30px;
  }

  .about_project_section {
    height: 10vh;
    margin-bottom: 700px;
    z-index: 10;
  }

  .card {
    width: 20rem;
    height: 25rem;
    font-size: 0.8em;
    text-align: center;
    margin: 0px 0px 30px 10px;
    transition: 1s;
  }

  .card-img-top {
    width: 15rem;
    height: auto;
  }
}

@media only screen and (min-width: 1200px) {
  .blob1 {
    height: 200px;
    transform: scale(4);
    position: absolute;
    left: 0;
    margin: 350px 0px 0px 100px;
    opacity: 0.5;
    z-index: 0;
  }
  
  .blob2 {
    height: 200px;
    transform: scale(10) rotate(0deg);
    position: absolute;
    right: 0;
    margin: -100px -500px 0px 0px;
    opacity: 0.3;
    z-index: 0;
  }
}

@media only screen and (min-width: 1600px) {

  .title {
    font-size: 4em;
    margin: 200px 0px 50px 0px;
  }

  .card {
    width: 25rem;
    height: 30rem;
    font-size: 0.8em;
    text-align: center;
    margin: 0px 0px 30px 10px;
    transition: 1s;
  }

  .card-img-top {
    width: 20rem;
    height: auto;
  }
}